{% extends 'layout.html' %}

{% block content %}
    <h2 id=deck-list-title>Deck List:</h2>
    <ul id='decks'>
        {% for deck in decks if decks %}
            <li>
                <a href="{{ url_for('display_deck', deck_folder=deck.folder) }}">{{ deck.name }}</a>
                <div class=actions>
                    <a class="edit" href="{{ url_for('rename_deck', deck_folder=deck.folder) }}">Rename Deck</a>
                    <form class="delete" action="{{ url_for('delete_deck', deck_folder=deck.folder) }}" method="post">
                        <button type="submit" class="delete">Delete Deck</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('new_deck') }}" class="button">New Deck</a>
{% endblock %}